.header {
    width: calc(100% - 30px);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    position: relative;
    z-index: 1;
    height: 50px;
    background-color: #EFDC05;

    &__info {
        position: absolute;
        top: 13px;
        right: 10px;
        transition: opacity 0.3s ease-in-out;
        cursor: pointer;

        svg {
            stroke: $black;
            text-shadow: 0px 0px 4px $darkGray;
            opacity: 0.8;
        }

        &:hover {
            opacity: 0.7;
        }

        @media(max-width: 400px){
            right: 5px;
        }
    }
    
    &__logo {
        font-size: 24px;
        font-weight: 500;
        color: $black;
        letter-spacing: 0.5px;
        padding: 10px 20px 10px 0px;

        @media(max-width: 500px) {
            font-size: 18px;
        }
    }

    &__form {
        padding: 0;
        margin: 0;
        position: relative;
        height: 48px;
        z-index: 3;
        align-self: flex-start;

        &__icon {
            position: absolute;
            top: 13px;
            right: 15px;
            stroke: $black;
        }

        & input {
            font-size: 18px;
            padding-left: 15px;
            height: 100%;
            border: none;
            outline: none;
            color: $black;
            background-color: #d6c504;
            transition: background-color 0.3s ease-in-out;
            margin: 0px;
            @media(max-width: 400px){
                width: 35vw;
            }
        }

        & input::-webkit-input-placeholder {
            color: $black;
        }

        & input:hover {
            background-color:#EFDC05;
        }

        & input:focus {
            background-color: #EFDC05;
        }

    }

    &__dots--bottom {
        background: url('../../public/img/dots-bottom.svg') no-repeat;
        width: 1413px;
        height: 150px;
        position: absolute;
        bottom: 0;
        opacity: 0.05;
        z-index: 2;
    }

}