@import 'colors';
@import 'header';
@import 'results';
//@import './node_modules/feather-icons-sass';

body {
  font-family: 'Arimo', sans-serif;
  background-color: $white;
  padding: 0px;
  margin: 0px;
}


